@model List<BlogItem>
@{
ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var blogItem in @Model)
    {

    <div class="post-preview">
        <a asp-controller="Blog" asp-action="ShowPost" asp-route-id="@blogItem.Path">
            <h2 class="post-title">
                @blogItem.Title
            </h2>
            <h3 class="post-subtitle">
                @blogItem.PreviewText
            </h3>
        </a>
        <span class="post-meta">Posted on @blogItem.PublishDate.ToString("MMMM dd, yyy", System.Globalization.CultureInfo.InvariantCulture)</span>
        <br />
    </div>
    <hr>
    }

</div>
