<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" IgnorableNamespaces="uap mp uap4 iot mobile">
  <Identity Name="5a03eee9-36ec-4e85-a678-6322e8ee8386" Publisher="CN=Gergely.Kalapos" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5a03eee9-36ec-4e85-a678-6322e8ee8386" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>App4</DisplayName>
    <PublisherDisplayName>Gergely.Kalapos</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App4.App">
      <uap:VisualElements DisplayName="App4" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="App4" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="videosLibrary" />
    <uap4:Capability Name="userDataTasks" />
    <iot:Capability Name="systemManagement" />
    <uap:Capability Name="removableStorage" />
    <mobile:Capability Name="recordedCallsFolder" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <iot:Capability Name="lowLevelDevices" />
  </Capabilities>
</Package>